<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yetistand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{100,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>yetistand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{100,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>yetistand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{100,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimYetiStand.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76c762a891e61ab0d61d898900525205:1/1$</string>
            <key>textureFileName</key>
            <string>AnimYetiStand.png</string>
        </dict>
    </dict>
</plist>
