<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manalert1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,398},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{78,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manalert2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{78,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manalert3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{78,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manalert4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,240},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{78,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manstand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{76,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manstand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{76,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manstand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{74,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manstand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{76,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manswing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,320},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manswing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{68,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manswing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,80},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{88,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,162},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,31},{76,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{82,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manwalk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,31},{76,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>manwalk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,90},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{70,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>man.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e597ac4c4fc1da7b6e8d906d54e928c2:1/1$</string>
            <key>textureFileName</key>
            <string>man.png</string>
        </dict>
    </dict>
</plist>
